main {
    font-family: "NotoSans", sans-serif;
    min-height: 90vh; /* 90-100vh for footer to be displayed */

    display: flex;
    place-content: center;
    flex-direction: column;

    padding: 10px 0;
}
section{
    align-items: center;
    text-align: center;
    padding: 2% 4%;
}
nav{
    place-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav ul li {
    padding: 0 4%;
    white-space: nowrap;
    list-style: none;
}
nav ul {
    margin: 0px;
}
.noPadding { padding: 0; }
.inspector{
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--colDark);
    color: var(--colLight);
    width: 360px;
    height: 100%;
    z-index: 9000;
    padding: 15px;
    border-left: 1px solid var(--colLight);

}
body {
    min-height: 100vh;
    position: relative;
}
#footer{
    padding: 5px 2%;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 1.2em;
}




/* Universal Helpers */

.righter{
    margin-left: 2%;
}
.lefter{
    margin-right: 2%;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1240px;
    margin: 0px auto;
}
.content div{
    margin: 5px auto;
}
.middle {
    text-align: center;
}
.left {
    text-align: left;
    margin-left: 0;
    justify-content: left;
}
.right{
    text-align: right;
    margin-right: 0;
    justify-content: right;
}
a{
    color: #75ddff;
    text-decoration: none;
    font-weight: bold;
}
.flexH{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}
.flexV{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.flexRight{
    align-items: flex-end;
}
.flexSpaceBetween {justify-content: space-between; }
.flexH section{
    flex: 1 1 250px;
    border-radius: 20px;
    background-color: #4A90E2;
    color: #ffffff;
    margin: 15px 20px;
    padding: 15px;
}



/*Table*/
table{
    border-radius: 15px;
    table-layout:fixed;
    overflow:hidden;
}
table::after{
    content: ' ';
    padding-top: 3px;
    padding-bottom: 10px;
    padding-right: 1000%;
    background-color: var(--colSecondary);
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
tbody tr:nth-child(2n) {
    background-color: var(--colGrey);
}
tbody tr:nth-child(odd){
    background-color: var(--colLight);
}
th {
    white-space: nowrap;
    overflow: hidden;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
        border-radius: 0;
    }
    table caption {font-size: 1.3em}
    table thead {display: none;}
    table tr{
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td{
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
        padding-right: 44px;
    }
    table td::before{
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:nth-child(even) { background-color: var(--colGrey); }
    table td:nth-child(odd) { background-color: var(--colLight); }
    table td:last-child { border-bottom: 0; }
    table::after { content: none; }

}