main {
    font-family: "NotoSans", sans-serif;
    min-height: 90vh; /* 90-100vh for footer to be displayed */

    display: flex;
    place-content: center;
    flex-direction: column;

    padding: 10px 0;
}
section{
    display: flex;
    align-items: center;
    place-content: center;
    flex-wrap: wrap;
    padding: 2% 4%;
}
nav{
    padding: 30px 40px;
    list-style: none;
}
    nav ul li {
        padding: 0 4%;
        white-space: nowrap;
    }
body {
    min-height: 100vh;
    position: relative;
}
#footer{
    padding: 5px 2%;
    margin: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    font-size: 1.2em;
}




/* Universal Helpers */

.righter{
    margin-left: 2%;
}
.lefter{
    margin-right: 2%;
}


.middle {
    text-align: center;
}
.left {
    text-align: left;
}


a{
    color: #75ddff;
    text-decoration: none;
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flex section{
    flex: 1 1 250px;
    border-radius: 20px;
    background-color: #4A90E2;
    color: #ffffff;
    margin: 15px 20px;
    padding: 15px;
}

table{
    border-radius: 15px;
    table-layout:fixed;
    overflow:hidden;
}

table::after{
    padding: 10px;
    background-color: white;
    width: 100%;
    border-radius: 15px;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    white-space: nowrap;
    overflow: hidden;
}

td{
    background-color: #ffffff;
}