.dFlex{
    display: flex;
    flex-wrap: wrap;
}

.dFlex section{
    flex: 1 1 250px;
}

.imgFluid, video{
    max-width: 100%;
}

.positionTest{
    position: relative;
}

.positionTest figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    font-size: 2em;
    color: white;
    background-color: #4A90E2;
}








.d-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

header, .divider{
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fimages6.fanpop.com%2Fimage%2Fphotos%2F41200000%2FCat-cats-41239805-1600-900.jpg&f=1&nofb=1&ipt=e03b7b5ad55add8956c024e6cc77c452ed82f157cc43acf178c8a9d1ec178730&ipo=images");
    min-height: 25vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
    box-shadow: 1px 1px 6px inset #000;
}

article{
    min-height: 80vh;
}

.formFlex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

td, th{
    padding: 5px;
    border: 1px solid #ccc;
}