:root{
    --colPrimary: #FFFAEF;
    --colSecondary: #EEE9CD;
    --colDark: #1f1f1f;
    --colLight: white;
}
body{
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
main{
    background-color: var(--colPrimary);
}
nav{
    text-decoration: none;
    background-color: var(--colSecondary);
    font-size: 1.2rem;
    padding: 0.5% 4%;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
ul{
    list-style-type: none;
}





section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 10%;
}
section h1{
    font-size: 4rem;
    margin: 0
}
section p{
    font-size: 2rem;
    margin: 4%;
}

.righter{
    margin-left: 2%;
}
.lefter{
    margin-right: 2%;
}

.colWhite{
    background-color: white;
}

figure{

}

figcaption{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, .75);
    box-sizing: border-box;
}